* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* To prevent the scrollbar (dis)appearing from repositioning the page content */
    padding-left: calc(100vw - 100%);
    background-color: #21f;
}

body input {
    border: 1px solid #eee;
    padding: 3px 8px;
}

header {
    position: relative;
    margin: 25px 0;
}

.Main {
    max-width: 800px;
    margin: auto;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 3em;
}

input.filter {
    width: 100%;
    border-radius: 5px;
}

main {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
