.AddIngredientsDialog {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.AddIngredientsDialog\/overlay {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
}

.AddIngredientsDialog\/content {
    background-color: #fff;
    position: absolute;
    overflow: auto;
    top: 20vh;
    width: 500px;
    height: 60vh;
    margin: auto;
    left: 0;
    right: 0;
    cursor: default;

    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    border: 1px solid #ddd;
    padding: 25px;
}

.AddIngredientsDialog\/title {
    display: block;
    font-weight: bold;
}

.AddIngredientsDialog\/ingredients {
    list-style-type: none;
    padding-left: 20px;
}

.AddIngredientsDialog\/ingredients\/ingredient {
    display: grid;
    grid-template-columns: 25px 100px 100px 1fr;
}

.AddIngredientsDialog\/content > button {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    margin-right: 5px;
    padding: 2px 5px;
}
