.RecipeList\/newRecipe {
    width: 100%;
    height: initial;
    margin: 10px 0 5px 0;
}

.RecipeList\/list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.RecipeList\/tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.RecipeList\/tags\/tag {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.RecipeList\/tags\/tag.selected {
    background-color: #eee;
}
