.RecipeEntry {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);

    padding: 10px;
    width: 250px;
    height: 110px;
    margin: 5px;
    flex-grow: 1;

    display: inline-grid;
    grid-template-areas: "name buttons" "tags tags";
    grid-template-columns: 1fr 25px;
    grid-template-rows: 25px 1fr;

    cursor: pointer;
}

.RecipeEntry\/name {
    font-weight: bold;
    line-height: 25px;
    display: block;
    grid-area: name;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RecipeEntry\/tags,
.RecipeEntry\/buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.RecipeEntry\/buttons {
    grid-area: buttons;
}

.RecipeEntry\/buttons\/button {
    display: inline-block;
}

.RecipeEntry\/buttons\/button:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    user-select: none;
}

.RecipeEntry\/tags {
    grid-area: tags;
}

.RecipeEntry\/tags\/tag {
    margin-left: 5px;
}
