.RecipeDialog {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.RecipeDialog\/overlay {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
}

.RecipeDialog\/content {
    background-color: #fff;
    position: absolute;
    overflow: auto;
    top: 20vh;
    width: 500px;
    height: 60vh;
    margin: auto;
    left: 0;
    right: 0;
    cursor: default;

    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    border: 1px solid #ddd;
    padding: 25px;
}

.RecipeDialog\/name {
    display: block;
    font-weight: bold;
}

.RecipeDialog\/tags\/tag,
.RecipeDialog\/tags input {
    vertical-align: top;
    margin-right: 5px;
}

.RecipeDialog\/tags\/tag:hover {
    padding-right: 2px;
}

.RecipeDialog\/tags\/tag .RecipeDialog\/tags\/tag\/delete {
    display: none;
}

.RecipeDialog\/tags\/tag:hover .RecipeDialog\/tags\/tag\/delete {
    display: inline-block;
    font-size: inherit;
    cursor: pointer;
}

.RecipeDialog\/ingredients {
    list-style-type: none;
    padding-left: 20px;
}

.RecipeDialog\/ingredients\/ingredient {
    display: grid;
    grid-template-columns: 100px 100px 1fr;
}

.RecipeDialog\/content > button {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    margin-right: 5px;
    padding: 2px 5px;
}
